body {
    background-color: #ecfbf6;
    margin: 0;
    font-family: 'Marcellus', sans-serif;
}

#username-display {
    text-align: left;
    color: #4e6260;
}

#music {
    background-color: transparent;
    border-radius: 30px;
    width: 20px;
    height: 20px;
    position: fixed;
    right: 219px;
    bottom: 328px;
    cursor: pointer;
}

#music-img {
    height: 14px;
    margin-top: 4px;
    margin-left: 5px;
    position: fixed;
    right: 200px;
    top: 465px;
}


main {
    display: flex;
    justify-content: center;
}

h1 {
    font-family: "Marcellus", sans-serif;
    font-weight: bolder;
    font-size: 50px;
    margin: 0;
    color: #e1b074;
}

p {
    color: black;
}

label {
    color: #4e6260;
}

#intro {
    position: relative;
    left: 50px;
    top: 150px;
}

#html-container {
    position: absolute;
    top: 30px;
    left: 250px;
    margin: 0;
}



table {
    position: relative;
    background-color: transparent;
    width: 100%;
    border: 5px solid #bcbcbc;
    border-radius: 20px;
    border-collapse: collapse;
    border-radius: 20px;
    overflow-y: auto;
    left: -160px;
    top: 40px;
    color: #2f4442;
    text-wrap: wrap;
}

th, td {
    padding: 12px;
    text-align: left;
    border: .5px solid #dee2e6;
    
}



button {
    padding:  10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    color: #dee2e6;
    background-color: #4e6260;
    transition: background-color .2s;
}

button:hover {
    background-color: #6a8683;
    box-shadow: inset 2px 2px 5px grey;
}

.delete-btn, .edit-button {
    background-color: #4e6260;
    color: #dee2e6;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

#login-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border: none;
    border-radius: 20px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

input[type="checkbox"] {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #dee2e6;
    border-radius: 5px;
    margin-right: 5px;
    cursor: pointer;
}

input[type="checkbox"]:checked {
    background-color: #2f4442;
}

#task-container {
    display: flex;
    width: 100%
}

#input-container {
    padding-top: 25px;
    margin-left: -50px;
}


#task-input, #description-input {
    width: 32%;
    padding: 5px;
    
}

#username-display {
    font-size: 18px;
    margin-bottom: 20px;
}

#task-list {
    background-color: transparent;
}

td, th {
    text-align: center;
}


.custom-modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border: none;
    border-radius: 20px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    color: #4e6260;
  }
  
  .custom-modal-content {
    margin: 15% auto;
    width: 80%;
  }
  
  .custom-modal-close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .custom-modal-close:hover,
  .custom-modal-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  


